/* Organic Result (including subresults, which are indented) */

div.result-organic span.url {
    display: block;
    font-size: 14px;
    color: #202124;
}

    div.result-organic span.url > span.level {
        color: #5F6368;
    }

    div.result-organic span.url > span.level::before {
        content: "\203a";
        padding: 0 4px 0 1px;
    }

div.result-organic a {
    text-decoration: none;
}

div.result-organic a h3 {
    margin: 0;
    padding: 5px 0 0 0;
    line-height: 26px;
    height: 26px;
    font-size: 20px;
    font-weight: normal;
}

div.result-organic a:hover h3 {
    text-decoration: underline;
}

div.result-organic span.snippet {
    line-height: 22px;
    font-size: 14px;
    color: #5F6368;
    word-wrap: break-word;
}

    div.result-organic span.snippet span.date {
        color: #70757A;
    }

    div.result-organic span.snippet span.date::after {
        content: "\00a0\2014\00a0";
    }

div.result-organic > div.subresults {
    margin-left: 16px;
}

div.result-organic > div.subresults > span {
    display: inline-block;
    margin-top: 10px;
}

div.result-organic > div.subresults > span.more {
    display: block;
    font-size: 14px;
}

    div.result-organic > div.subresults > span.more:hover {
        text-decoration: underline;
    }

    div.result-organic > div.subresults > span.more::after {
        content: "\00a0\203a\203a";
    }

/* Box Element Container */

div.box-container {
    border: 1px solid #DFE1E5;
    border-radius: 8px;
}

/* Entity Card */

div.entity-card {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div.entity-card .padding {
    padding-left: 15px;
    padding-right: 15px;
}

div.entity-card > h3 {
    padding: 12px 0 4px 0;
    position: relative;
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    line-height: 36px;
    color: #202124;
    word-wrap: break-word;
}

    div.entity-card > h3 i.share {
        position: absolute;
        margin-top: 5px;
        font-size: 25px;
        right: 15px;
        color: #808080;
    }
    div.entity-card > img {
        
        margin: 5px 0 0 13px;

        max-width: 200px;
        /* color: #808080; */
    }

div.entity-card > span.subtitle {
    display: block;
    padding-bottom: 15px;
    color: #70757A;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.58;
    border-bottom: 1px solid #DFE1E5;
}

div.entity-card > span.blurb {
    display: block;
    margin: 13px 0 13px 0;
    font-size: 15px;
    line-height: 22.12px;
    word-wrap: break-word;
    color: #4D5156;
}

div.entity-card > span.attribute span.property {
    font-weight: bold;
    color: #202124;
}

div.entity-card > span.attribute span.property::after {
    content: ":\00a0";
}

div.entity-card > ul.attributes {
    margin: 7px 0 0 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 22px;
}

    div.entity-card > ul.attributes li {
        margin-bottom: 7px;
        word-wrap: break-word;
    }

    div.entity-card > ul.attributes li span.property {
        font-weight: bold;
        color: #202124;
    }

    div.entity-card > ul.attributes li span.property::after {
        content: ":\00a0";
    }

div.entity-card > h4 {
    height: 24px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;

}

div.entity-card > ul.image-cluster {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    column-gap: 15px;
}

    div.entity-card > ul.image-cluster li {
        flex-grow: 1;
    }

    div.entity-card > ul.image-cluster li a {
        display: block;
    }

    div.entity-card > ul.image-cluster li img {
        display: block;
        max-height: 72px;
        border-radius: 8px;
    }

    div.entity-card > ul.image-cluster li span {
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
    }

/* Answer card */

div.answer-card {
    min-height: 170px;
    padding-bottom: 25px;
    margin-bottom: 50px !important;
    position: relative;
    border-bottom: 1px solid #DADCE0;
}

div.answer-card > div.flex-container > div.left-container > a {
    display: block;
    /* border-radius: 50%; */
    opacity: 0.9;
    /* background: #FFF; */
    cursor: pointer;
    text-decoration: none;
}


div.answer-card > div.flex-container > div.left-container > a>  ul.categories {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 22.12px;
    list-style-type: none;
}

div.answer-card > div.flex-container > div.left-container > a> ul.categories li {
    display: inline;
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > a> ul.categories li::after {
    content: "\00a0/";
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > a> ul.categories li:last-of-type:after {
    content: "";
}

div.answer-card > div.flex-container > div.left-container > a> ul.categories li:first-of-type {
    color: #70757A;
}

div.answer-card > div.flex-container > div.left-container > a> span.answer {
    font-size: 32px;
    line-height: 32px;
    color: #202124;
}

div.answer-card > div.flex-container > div.left-container > span.answer-supplementary {
    display: block;
    margin-top: 13px;
    font-size: 14px;
    line-height: 22.10px;
    word-wrap: break-word;
    width: 400px;
    color: #70757A;
}

div.answer-card > div.flex-container > div.right-container > img {
    max-height: 160px;
    border-radius: 8px;
}

div.answer-card > span.feedback {
    position: absolute;
    right: 0;
    bottom: -8px;
    font-size: 12px;
    color: #70757A;
    padding-left: 16px;
    background-color: #FFF;
}

    div.answer-card > span.feedback a, div.answer-card > span.feedback a:visited, div.answer-card > span.feedback a:hover {
        color: #70757A;
        text-decoration: none;
    }

div.answer-card > span.also-header {
    display: block;
    margin: 20px 0 10px 0;
    font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #202124;
}

div.answer-card > ul.also {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 14px;
    list-style-type: none;
}

    div.answer-card > ul.also li {
        display: block;
        flex: 1;
        max-width: 50px;
        height: 108px;
    }

    div.answer-card > ul.also li a {
        display: block;
    }

        div.answer-card > ul.also li a:hover {
            text-decoration: none;
        }

    div.answer-card > ul.also li img {
        display: block;
        border-radius: 8px;
    }

    div.answer-card > ul.also li span {
        display: block;
        height: 54px;
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }

/* Image vertical */

div.image-vertical {
    position: relative;
    padding-bottom: 38px;
    margin-bottom: 68px !important;
    border-bottom: 1px solid #DADCE0;
}

    div.image-vertical > span.title {
        margin-top: 10px;
        display: inline-block;
        font-size: 22px;
        line-height: 28px;
        height: 28px;
        font-weight: normal;
        font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;
        color: #202124;
    }

    div.image-vertical > span.title a, div.image-vertical > span.title a:visited {
        color: #202124;
    }

    div.image-vertical > span.title a:hover {
        color: #1A0DAB;
        text-decoration: none;
    }

    div.image-vertical > span.title i {
        margin-right: 15px;
    }
    
        div.image-vertical > span.title a:hover i {
            color: #202124;
        }
    
    div.image-vertical > span.feedback {
        display: block;
        position: absolute;
        right: 15px;
        margin-top: 8px;
        font-size: 12px;
        color: #70757A;
        font-style: italic;
    }

        div.image-vertical > span.feedback a {
            color: #70757A;
        }

        div.image-vertical > span.feedback a:hover {
            color: #70757A;
            text-decoration: none;
        }
    
    div.image-vertical > span.left, div.image-vertical > span.right {
        display: block;
        position: absolute;
        left: -20px;
        top: 98px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

        div.image-vertical > span.left a, div.image-vertical > span.right a {
            display: block;
            opacity: 0.9;
            background: #FFF;
            cursor: pointer;
            border-radius: 50%;
            transition-delay: 0s, 0s;
            transition-duration: 0.5s, 0.5s;
            transition-property: opacity, visibility;
            transition-timing-function: ease, ease;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
        }

        div.image-vertical > span.left a:hover, div.image-vertical > span.right a:hover {
            opacity: 1.0;
        }

        div.image-vertical > span.left a img, div.image-vertical > span.right a img {
            position: relative;
            top: 6px;
            width: 24px;
            height: 24px;
        }

        div.image-vertical > span.left {
            display: none;
        }

        div.image-vertical > span.left a img {
            transform: scaleX(-1);
        }

    div.image-vertical > span.right {
        left: auto;
        right: -20px;
    }

    div.image-vertical ul {
        margin: 15px 0 0 0;
        display: block;
        padding: 0;
        height: 130px;
        overflow: hidden;
        border-radius: 8px;
        white-space: nowrap;
        list-style-type: none;
    }

    div.image-vertical ul li {
        display: inline-block;
        width: auto;
    }

    div.image-vertical ul li img {
        height: 130px;
        max-width: 174px;
        object-fit: cover;
    }
    
    div.image-vertical ul li.more {
        position: relative;
        width: 150px;
        height: 100%;
        text-align: center;
    }

    div.image-vertical ul li.more img {
        display: inline-block;
        width: 24px;
        height: auto;
        padding: 15px;
        position: relative;
        bottom: 17px;
        border-radius: 50%;
        border: 1px solid #DFE1E5;
        background-color: #FFF;
    }

    div.image-vertical ul li.more span {
        display: block;
        position: relative;
        bottom: 25px;
        font-size: 14px;
        line-height: 22px;
        margin-top: 10px;
        color: #202124;
    }

    div.image-vertical ul li.more a {
        color: #202124;
    }

    div.image-vertical ul li.more a:hover {
        color: #202124;
    }

div.video-vertical {
    position: relative;
    padding-bottom: 38px;
    margin-bottom: 68px !important;
    border-bottom: 1px solid #DADCE0;
}

    div.video-vertical > span.title {
        margin-top: 10px;
        display: inline-block;
        font-size: 22px;
        line-height: 28px;
        height: 28px;
        font-weight: normal;
        font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;
        color: #202124;
    }

    div.video-vertical > span.title a, div.video-vertical > span.title a:visited {
        color: #202124;
    }

    div.video-vertical > span.title a:hover {
        color: #1A0DAB;
        text-decoration: none;
    }

    div.video-vertical > span.title i {
        margin-right: 15px;
    }
    
        div.video-vertical > span.title a:hover i {
            color: #202124;
        }
    
    div.video-vertical > span.feedback {
        display: block;
        position: absolute;
        right: 15px;
        margin-top: 8px;
        font-size: 12px;
        color: #70757A;
        font-style: italic;
    }

        div.video-vertical > span.feedback a {
            color: #70757A;
        }

        div.video-vertical > span.feedback a:hover {
            color: #70757A;
            text-decoration: none;
        }
    
    div.video-vertical > span.left, div.video-vertical > span.right {
        display: block;
        position: absolute;
        left: -20px;
        top: 180px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

        div.video-vertical > span.left a, div.video-vertical > span.right a {
            display: block;
            opacity: 0.9;
            background: #FFF;
            cursor: pointer;
            border-radius: 50%;
            transition-delay: 0s, 0s;
            transition-duration: 0.5s, 0.5s;
            transition-property: opacity, visibility;
            transition-timing-function: ease, ease;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
        }

        div.video-vertical > span.left a:hover, div.video-vertical > span.right a:hover {
            opacity: 1.0;
        }

        div.video-vertical > span.left a img, div.video-vertical > span.right a img {
            position: relative;
            top: 6px;
            width: 24px;
            height: 24px;
        }

        div.video-vertical > span.left {
            display: none;
        }

        div.video-vertical > span.left a img {
            transform: scaleX(-1);
        }

    div.video-vertical > span.right {
        left: auto;
        right: -20px;
    }

    div.video-vertical ul {
        margin: 0;
        padding: 0;
        display: grid;
        gap: 0px 15px;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        overflow-x: scroll;
        list-style-type: none;
        /* background: orange; */
        overflow: hidden; 
        margin: 15px 0 0 0;
    }

    div.video-vertical ul li {
        display: inline-block;
        margin-right: 15px;
        max-width: 350px;
        border-radius: 16px;
        background:  white;
    }
    div.video-vertical ul li.card {
        /* height: 190px; */
        object-fit: cover;
        padding: 24px;

    }
    div.video-vertical ul li.card a  {
        cursor: pointer;
        
    }
    div.video-vertical ul li.card a h3 {
        color: rgb(67, 103, 220);
        
    }

    div.video-vertical ul li iframe {
        height: 150px;
        object-fit: cover;
    }

    div.video-vertical ul li.more {
        position: relative;
        width: 150px;
        height: 100%;
        text-align: center;
    }

    div.video-vertical ul li.more img {
        display: inline-block;
        width: 24px;
        height: auto;
        padding: 15px;
        position: relative;
        bottom: 17px;
        border-radius: 50%;
        border: 1px solid #DFE1E5;
        background-color: #FFF;
    }

    div.video-vertical ul li.more span {
        display: block;
        position: relative;
        bottom: 25px;
        font-size: 14px;
        line-height: 22px;
        margin-top: 10px;
        color: #202124;
    }

    div.video-vertical ul li.more a {
        color: #202124;
    }

    div.video-vertical ul li.more a:hover {
        color: #202124;
    }