/* Organic Result (including subresults, which are indented) */

div.result-organic span.url {
    display: block;
    font-size: 14px;
    color: #202124;
}

    div.result-organic span.url > span.level {
        color: #5F6368;
    }

    div.result-organic span.url > span.level::before {
        content: "\203a";
        padding: 0 4px 0 1px;
    }

div.result-organic a {
    text-decoration: none;
}

div.result-organic h3 {
    margin: 0;
    padding: 5px 0 0 0;
    line-height: 26px;
    height: 26px;
    font-size: 20px;
    font-weight: normal;
}

div.result-organic a:hover h3 {
    text-decoration: underline;
}

div.result-organic span.snippet {
    line-height: 22px;
    font-size: 14px;
    color: #5F6368;
    word-wrap: break-word;
}

div.result-organic > div.subresults {
    margin-left: 16px;
}

div.result-organic > div.subresults > span {
    display: inline-block;
    margin-top: 10px;
}

div.result-organic > div.subresults > span.more {
    display: block;
    font-size: 14px;
}

    div.result-organic > div.subresults > span.more:hover {
        text-decoration: underline;
    }

    div.result-organic > div.subresults > span.more::after {
        content: "\00a0\203a\203a";
    }

/* Box Element Container */

div.box-container {
    border: 1px solid #DFE1E5;
    border-radius: 8px;
}

/* Entity Card */

div.entity-card {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div.entity-card .padding {
    padding-left: 15px;
    padding-right: 15px;
}

div.entity-card > h3 {
    padding: 12px 0 4px 0;
    position: relative;
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: #202124;
    word-wrap: break-word;
}

    div.entity-card > h3 i.share {
        position: absolute;
        margin-top: 5px;
        font-size: 25px;
        right: 15px;
        color: #808080;
    }

div.entity-card > span.subtitle {
    display: block;
    padding-bottom: 15px;
    color: #70757A;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.58;
    border-bottom: 1px solid #DFE1E5;
}

div.entity-card > span.blurb {
    display: block;
    margin: 13px 0 13px 0;
    font-size: 14px;
    line-height: 22.12px;
    word-wrap: break-word;
    color: #4D5156;
}

div.entity-card > span.attribute span.property {
    font-weight: bold;
    color: #202124;
}

div.entity-card > span.attribute span.property::after {
    content: ":\00a0";
}

div.entity-card > ul.attributes {
    margin: 7px 0 0 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 22px;
}

    div.entity-card > ul.attributes li {
        margin-bottom: 7px;
        word-wrap: break-word;
    }

    div.entity-card > ul.attributes li span.property {
        font-weight: bold;
        color: #202124;
    }

    div.entity-card > ul.attributes li span.property::after {
        content: ":\00a0";
    }

div.entity-card > h4 {
    height: 24px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif

}

div.entity-card > ul.image-cluster {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    column-gap: 15px;
}

    div.entity-card > ul.image-cluster li {
        flex-grow: 1;
    }

    div.entity-card > ul.image-cluster li a {
        display: block;
    }

    div.entity-card > ul.image-cluster li img {
        display: block;
        max-height: 72px;
        border-radius: 8px;
    }

    div.entity-card > ul.image-cluster li span {
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
    }

/* Answer card */

div.answer-card {
    min-height: 190px;
    padding-bottom: 25px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    column-gap: 20px;
    border-bottom: 1px solid #DADCE0;
}

div.answer-card > div.left-container {
    order: 1;
    flex-grow: 1;
}

div.answer-card > div.right-container {
    order: 2;
    width: 200px;
    flex-shrink: 0;
    text-align: right;
}

div.answer-card ul.categories {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 22.12px;
    list-style-type: none;
}

div.answer-card ul.categories li {
    display: inline;
    color: #202124;
}

div.answer-card ul.categories li::after {
    content: "\00a0/";
    color: #202124;
}

div.answer-card ul.categories li:last-of-type:after {
    content: "";
}

div.answer-card ul.categories li:first-of-type {
    color: #70757A;
}

div.answer-card > div.left-container > span.answer {
    font-size: 32px;
    line-height: 32px;
    color: #202124;
}

div.answer-card > div.left-container > span.answer-supplementary {
    display: block;
    margin-top: 13px;
    font-size: 14px;
    line-height: 22.10px;
    white-space: nowrap;
    color: #70757A;
}

div.answer-card > div.right-container > img {
    max-height: 160px;
    border-radius: 8px;
}

div.answer-card > span.feedback {
    position: absolute;
    right: 0;
    bottom: -8px;
    font-size: 12px;
    color: #70757A;
    padding-left: 16px;
    background-color: #FFF;
}

div.answer-card > span.feedback a, div.answer-card > span.feedback a:visited, div.answer-card > span.feedback a:hover {
    color: #70757A;
    text-decoration: none;
}

div.answer-card > div.left-container > span.also-header {
    display: block;
    margin: 60px 0 15px 0;
    font-family: 'Product Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #202124;
}

div.answer-card > div.left-container > span.also-header.no-image {
    margin-top: 20px;
}

div.answer-card > div.left-container > ul.also {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    column-gap: 14px;
    list-style-type: none;
}

    div.answer-card > div.left-container > ul.also li {
        display: block;
        flex: 1;
        min-width: 0px;
    }

    div.answer-card > div.left-container > ul.also li a {
        display: block;
    }

    div.answer-card > div.left-container > ul.also li img {
        display: block;
        border-radius: 8px;
    }

    div.answer-card > div.left-container > ul.also li span {
        display: block;
        margin-top: 3px;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
    }