.check-list {
  margin: 0;
  padding: 20px 0 0 100px;
}

#ready.check-list {
  margin: 0;
  padding: 20px 0 0 100px;
}


#ready.check-list > li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
}

.check-list > li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}


/* Boilerplate stuff */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* 18px */
  background-color: #efefef;
  color: #324047
}

html,
body,
section {
  height: 100%;
}

section {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

div {
  margin: auto;
}
